{% extends "base.html" %}

{% block main %}
    <div style="margin:0 auto; width:700px">
    <table class="table-condensed">
    <tr>
        <td><label>Name</label></td>
        <td><label>Type</label></td>
        <td><label>Cracked<label></td>
        <td><label>Total</label></td>
        <td><label>Percent</label></td>
        <td><label>Stats</label></td>
    </tr>
    {% for result in results %}
        <tr>
            <td><a href="/static/passwords/{{result.name}}">{{result.name}}</a></td>
            <td><p>{{result.hashtype}}</p></td>
            <td><p>{{result.cracked}}</p></td>
            <td><p>{{result.hash_count}}</p></td>
            <td><p>{{result.percent}} %</p></td>
            <td><a style="color:#00FE00" href=/passwords/hashes/stats/{{result.stat_file}}>stats</a></td>
        </tr>
    {% endfor %}
    </table>
    </div>
{% endblock %}
