{% extends "base.html" %}

{% block nav %}
    <ul class="nav nav-tabs">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/passwords/hashes/">Hashes</a></li>
        <li><a href="/passwords/password_checker/">Password Checker</a></li>
    </ul>
{% endblock %}

{% block main %}
    <table class="table-condensed">
    <tr>
        <td>Name</td>
        <td>Hash Type</td>
        <td>Total Hashes</td>
        <td>Hashes Cracked</td>
        <td>Percent Cracked</td>
        <td>Stats</td>
    </tr>
    {% for result in results %}
        <tr>
            <td><a style="color:#00FE00" href={{result.hash_file}}>{{result.name}}</a></td>
            <td>{{result.hashtype}}</td>
            <td>{{result.hash_count}}</td>
            <td>{{result.cracked}}</td>
            <td>{{result.percent}} %</td>
            <td><a style="color:#00FE00" href=/passwords/hashes/stats/{{result.stat_file}}>stats</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
