{% extends "base.html" %}

{% block main %}
    <script>
    function genurl()
    {
        if (document.getElementsByName("input")[0].value == "")
        {
            alert("missing input field")
            return
        }
        var type=document.getElementsByName("type")
        for (var i = 0; i < type.length; i++)
        {
            if(type[i].checked)
            {
                var url = "/passwords/password_checker/" + type[i].value + "/?input=" + document.getElementsByName("input")[0].value;
                window.location.href = url;
            }
        }
    }
    </script>
    <h3>{{message}}</h3></br>
    {% for result in results %}
        <ul>
            <label>Database Leak:</label> {{result.dump}}</br>
            <label>Hash Type:</label> {{result.hashtype}}</br>
            <label>Hash:</label> {{result.hashstring}}</br>
        </ul>
        </br>
    {% endfor %}
    <form>
    <input type="radio" name=type value="password" checked="checked">
        <label>password</label></input>
    <input type="radio" name=type value="hash">
        <label>hash</label></input>
    <div style="margin:0 auto; width:500px;">
        <input class=txtbox type="text" style="width:500px" name=input>
    </div>
    <div style="margin:0 auto; width:75px;">
        <button class=btn style="width:75px" onclick="genurl()">search</button>
    </div>
    </form>
{% endblock %}
