{% extends "base.html" %}

{% block title %}
    <div class=home-title>FLATLINE</div>
{% endblock %}

{% block nav %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/passwords/">Passwords</a></li>
        <li><a href="/scanner/">Scanner</a></li>
        <li><a href="/malware/">Malware</a></li>
    </ul>
{% endblock %}

{% block body %}
    </br>
    </br>
    <div align="center">
        </br>
        <iframe width="800" height="500" src="https://www.youtube.com/embed/ZEBGCOCxLgA" frameborder="0" allowfullscreen></iframe>
    </div>
{% endblock %}
