{% extends "passwords/base.html" %}

{% block main %}

<script>
function genurl()
{
    if (document.getElementsByName("input")[0].value == "")
    {
        alert("missing input field")
        return
    }
    var type=document.getElementsByName("type")
    for (var i = 0; i < type.length; i++)
    {
        if(type[i].checked)
        {
            var url = "/passwords/password_checker/" + type[i].value + "/" + document.getElementsByName("input")[0].value;
            window.location.href = url;
        }
    }
}
</script>
{{no_result}}
</br>
<input type="radio" name=type id="type" value="hash" checked="checked">hash
<input type="radio" name=type id="type" value="password">password
</br>
<input type="text" name=input id="input" value="">
</br>
<input type="submit" value="Submit" onclick="genurl()">

{% endblock %}
